{% extends 'SoipoOkentoAdminBundle:Layout:main.html.twig' %}


{% block content %}
    <div class="box">
        <div class="box-header">
            {% block box_header %}{% endblock %}
        </div><!-- /.box-header -->
        <div class="box-body">
            {% block box_body %}{% endblock %}
        </div><!-- /.box-body -->
    </div><!-- /.box -->
{% endblock content %}

